[submodule "dmoj/repo"]
	path = dmoj/repo
	url = https://github.com/Noboroto/SABOJ-FE
[submodule "sabojjudge-server"]
	path = dmoj/sabojjudge-server
	url = https://github.com/Noboroto/sabojjudge-server.git
